contrib/
demolog/
docs/
FHEM/
lib/
log/
restoreDir/
www/
.vscode/
scripts/departure_device/bin
.Trash-1000

CHANGED
configDB.conf
configDB.db
configDB.pm
db.conf
fhem.cfg
fhem.cfg.demo
fhem.pl
GPL_V2.txt
MAINTAINER.txt
README_DEMO.txt

!www/ftui

.env